<font colour = 'blue' > Program In Loop

In [1]:

t = "This is basic python class"
len(t)

26

In [2]:
s = "My name is Sinchanarokkad age 18 "
len(s)

33

In [3]:
count = 0
for i in s :
    count = count + 1 
print(count)

33

In [4]:
s[::-1]

' 81 ega dakkoranahcniS si eman yM'

In [5]:
t[::-1]

'ssalc nohtyp cisab si sihT'

In [6]:
for i in range(len(s) -1 , -1 ,-1):
    print(s[i])

8
1

e
g
a

d
a
k
k
o
r
a
n
a
h
c
n
i
S

s
i

e
m
a
n

y
M

In [7]:
s

'My name is Sinchanarokkad age 18 '

In [8]:
i = len(s)-1
while(i>=0) :
    print(s[i] , end = " ")
    i = i -1

  8 1   e g a   d a k k o r a n a h c n i S   s i   e m a n   y M

In [9]:
s = "sinchurokkad"
v = "AaEeIiOoUu"
for i in s :
    if i in v :
        print("Volwel " , i)
else :
    print("not Volwel" , i)

Volwel  i
Volwel  u
Volwel  o
Volwel  a
not Volwel d

In [10]:
s in "sinchu"

False

In [11]:
"s" in "sinchu"

True

In [12]:
s = "darshana"
v = "AaEeIiOoUu"
for i in s :
    if i in v:
        print("vowel" , i)
    else :
        print("not vowel ", i)

not vowel  d
vowel a
not vowel  r
not vowel  s
not vowel  h
vowel a
not vowel  n
vowel a

In [13]:
"tnent"
"malayalam"
"eye"

'eye'

In [14]:
word = "tenet"
for i in range(len(word)):
    if word[i] == word[len(word)-1-i]:
        continue 
    else :
            print(word," - Not palendrome")
else:
    print(word," - is a palendrome")

tenet  - is a palendrome

In [15]:
s1 = "eye"
s2 = s1
n = len(s1)-1 
while(n>=0):
    n = n-1
    if s2 == n :
        print("palendrome")
else:
    print("not palendrome")

not palendrome

In [16]:
x = "malayalam"
w = "     "
for i in x :
    w = i + w
    
if( x == w) :
    print("yes")
else:
    print("no")

no

In [17]:
l = len (s)
k = 0
for i in range(l):
    if s[i] == s[l-i-1] :
          
            continue 
else :
            print("non palendrome")
            k= 1
             break 
if k == 0 :
    print("palendrome")

IndentationError: unexpected indent (3168656315.py, line 10)

In [18]:
s

'darshana'

In [19]:
d = {"india" : "IN" ,
     "canada" :"CA" ,
     "china" : "CH" ,
     "japan" : "JA"}

In [20]:
"india" in d

True

In [21]:
for i in d :
    print(i)

india
canada
china
japan

In [22]:
l_greater = []
l_smaller = []
for i in d :
    if len(i)<= 5 :
        l_smaller.append(i)
    else :
        l_greater.append(i)

In [23]:
l_greater

['canada']

In [24]:
l_smaller

['india', 'china', 'japan']

In [25]:
d_1 = {"sinchurokkad":{
                             "a" : 14 , 
                             "b" : 10 ,
                            "c"  : 4 
                       } ,
       "course" : {
                             "d" : 45 , 
                              "e" : 34 ,
                             "f"  : 1
                      }
      }

In [26]:
 lst = []
for i in d.values():
    for j in i.values():
        lst.append(j)
    print(max(lst))

AttributeError: 'str' object has no attribute 'values'

In [ ]:
d_1 = {"rokkad" : {"a":14 , "b": 10 , "c" : 4},
      "course" : {"d" : 45 , "e":34 , "f":1}
       }
for i in d1.values():
    
    mx = 0 
    for j in i.values():
        if mx < j :
            mx = j 
        print(mx)

In [27]:
 for i in d_1.values() :
        print(max(i.values()))

14
45

In [28]:
for i in d_1.keys():
    print(i)
print(max(d_1[i].values))

sinchurokkad
course

TypeError: 'builtin_function_or_method' object is not iterable

In [29]:
d_1

{'sinchurokkad': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1}}

In [30]:
 r = []
for i in d1.values():
    
    r.append(max(i.values()))
    print(max(r))

NameError: name 'd1' is not defined

In [31]:
d_1 = {"rokkad" : {"a":14 , "b": 10 , "c" : 4},"cource" :{"d":45 , "e" :34 , "f":1} ,"g": 356  , "h":[45,6,7,8,9,3] ,
       "i" : (45 , 34 , 2) , "k":"sudh"}

In [32]:
l1 = []
for i in d_1.values():
    if type(i) == dict :
        
          l1.append(max(i.values( )))
    elif type(i) == list :
        l1.append(max(i))
    elif type(i) == tuple :
        l1.append(max(i))
    elif type(i) == str :
        pass
    else :
        l1.append(i)
              
    print(max(l1))

14
45
356
356
356
356

In [33]:
d_1 = {"rokkad" : {"a":14 , "b": 10 , "c" : 4},"cource" :{"d":45 , "e" :34 , "f":1} ,"g": 356  , "h":[45,6,7,8,9,3] ,
       "i" : (45 , 34 , 2) , "k":"sudh"}

In [34]:
for i in d.values():
    if i == int :
        mx = 0
        for j in i.values():
            if mx < j :
                  print(mx)

In [35]:
lst = []
for i in d.values() :
      for j in i.values() :
        if type(j) == list :
            b = max(j)
            lst.append(b)
        elif type (j) == tuple :
            d = max(j)
            lst.append(d)
        elif type(j) == int :
            lst.append(j)
        print(max(lst))

AttributeError: 'str' object has no attribute 'values'

In [36]:
type(1)

int

In [37]:
max

In [38]:
t = (5,6,7,8)
max(t)

8

In [39]:
for number in range (1,10,2):
    print("attempt " , number , number * " .")

attempt  1  .
attempt  3  . . .
attempt  5  . . . . .
attempt  7  . . . . . . .
attempt  9  . . . . . . . . .

In [42]:
for number in range (1,15,2):
    print("attempt " , number , number * " .")

attempt  1  .
attempt  3  . . .
attempt  5  . . . . .
attempt  7  . . . . . . .
attempt  9  . . . . . . . . .
attempt  11  . . . . . . . . . . .
attempt  13  . . . . . . . . . . . . .