# Add

In [5]:
num1 = int(input("enter the number 1: "))
num2 = int(input("enter the  number 2: "))
sum_result = num1 + num2 
print(f"{num1}+{num2}= {sum_result}")

enter the number 1: 3
enter the  number 2: 4
3+4= 7

# division

In [1]:
num3 = int(input("enter the number 1: "))
num4 = int(input("enter the  number 2: ") )
if num3 == 0:
    print("ERROR ")
else:
    div_result = num3 / num4 
print(div_result)

enter the number 1: 8
enter the  number 2: 4
2.0

# AREA_OF_TRIANGLE

In [8]:
Base = int(input("enter the base: "))
Height = int(input("enter the height: "))
Area = 0.5 * Base * Height
print("the area of triangle is : ",Area)

enter the base: 10
enter the height: 10
the area of triangle is :  50.0

# swap_variables

In [16]:
a = int(input("enter the number a: "))
b = int(input("enter the number b: "))

temp = a
a = b
b = temp
print("swap number:",a , b)

enter the number a: 5
enter the number b: 8
swap number: 8 5

# Km to M

In [17]:
kilometer = float(input("enter the kilometer: "))
conversion_factor = 0.621371
miles = kilometer * conversion_factor
print("conversion of KM to M: ",miles)

enter the kilometer: 15
conversion of KM to M:  9.320565

# Celcius_to_Fhrenite

In [19]:
celcius =float(input("enter the celcius: "))
fahrenite = (celcius* 9/5)+32
print(fahrenite)

enter the celcius: 17
62.6

# Calender

In [23]:
import calendar
year = int(input("enter the year: "))
month = int(input("enter the month: "))
cal = calendar.month(year,month)
print(cal)

enter the year: 2005
enter the month: 10
    October 2005
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

# Prime_Number

In [31]:
num = int(input("Enter a number: "))

flag = False
if num == 1:
    print(f"{num} is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True 
            break

    if flag:
        print(f"{num} is not a prime number")
    else:
        print(f"{num} is a prime number")

Enter a number: 5
5 is a prime number

In [34]:
lower = 1
upper = 10
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 1 and 10 are:
2
3
5
7

# Table

In [36]:
num = int(input("Display multiplication table of: "))
for i in range(1, 11):
    print(f"{num} X {i} = {num*i}")

Display multiplication table of: 13
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [38]:

nterms = int(input("How many terms: "))


n1, n2 = 0, 1
count = 0


if nterms <= 0:
    print("Please enter a positive integer")

elif nterms == 1:
    print("Fibonacci sequence up to", nterms, ":")
    print(n1)

else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        
        n1 = n2
        n2 = nth
        count += 1

How many terms: 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

# Armstrong

In [41]:
num = int(input("Enter a number: "))

num_str = str(num)
num_digits = len(num_str)

sum_of_powers = 0
temp_num = num

while temp_num > 0:
    digit = temp_num % 10
    sum_of_powers += digit ** num_digits
    temp_num //= 10

if sum_of_powers == num:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 0
0 is an Armstrong number.

# sum_of_natural_number

In [4]:
num = int(input("enter the number: "))
sum = 0
for i in range (1,num):
    sum+= i
    print("the sum of natural number",num,"is: ",sum)

enter the number: 3
the sum of natural number 3 is:  1
the sum of natural number 3 is:  3

# Binary_octa_Hexa

In [5]:
dec_num = int (input("enter the number: "))
print("the decimal value of",dec_num,"is: ")
print(bin(dec_num),"is binary")
print(oct(dec_num),"is octal")
print(hex(dec_num),"is hexa")

enter the number: 25
the decimal value of 25 is:
0b11001 is binary
0o31 is octal
0x19 is hexa

# Body_Mass_index

In [10]:
def bodymassindex(height, weight):
    return round((weight / height**2),2)

h = float(input("Enter your height in meters: "))
w = float(input("Enter your weight in kg: "))

print("Welcome to the BMI calculator.")
bmi = bodymassindex(h, w)
print("Your BMI is: ", bmi)

if bmi <= 18.5:
    print("You are underweight.")
elif 18.5 < bmi <= 24.9:
    print("Your weight is normal.")
elif 25 < bmi <= 29.29:
    print("You are overweight.")
else:
    print("You are obese.")

Enter your height in meters: 1.6
Enter your weight in kg: 55
Welcome to the BMI calculator.
Your BMI is:  21.48
Your weight is normal.

# Natural_Logarithum

In [16]:
import math
num = float(input("enter the number: "))
if num<=0:
    print("enter the positive number")
else :
    result = math.log(num)
    print(f"The natural logrithum of {num} is : {result}")

enter the number: 1.2
The natural logrithum of 1.2 is : 0.1823215567939546

# Cube_sum_of_natural_number

In [23]:
def cube_sum_of_natural_numbers(n):
    if n <= 0:
        return 0
    else:
        total = sum([i**3 for i in range(1, n + 1)])
    return total

n = int(input("Enter the value of n: "))
if n <= 0:
    print("Please enter a positive integer.")
else:
    result = cube_sum_of_natural_numbers(n)
    
    print(f"The cube sum of the first {n} natural numbers is: {result}")

Enter the value of n: 5

TypeError: 'int' object is not callable

# ARRay

In [1]:
arr = [1,2,3]
ans = sum(arr)
print('Sum of the array is ', ans)

Sum of the array is  6

In [6]:
def sum_of_array(arr):
    total = 0  
    for element in arr:
        total += element 
    return total


array = [1, 2, 3]
result = sum_of_array(array)
print("Sum of the array:", result)

Sum of the array: 6

In [11]:
def find_largest_element(arr):
    if not arr:
        return "Array is empty"

    largest_element = arr[0]

    for element in arr:
        if element > largest_element:
            largest_element = element

    return largest_element

my_array = [10, 20, 30, 99]
result = find_largest_element(my_array)
print(f"The largest element in the array is: {result}")

The largest element in the array is: 99

In [15]:
def rotate_array(arr, d):
    n = len(arr)
    if d < 0 or d >= n:
        return "Invalid rotation value"

    rotated_arr = [0] * n

    for i in range(n):
        rotated_arr[i] = arr[(i + d) % n]

    return rotated_arr

arr = [1, 2, 3, 4, 5]
d = 2
result = rotate_array(arr, d)

print("Original Array:", arr)
print("Rotated Array:", result)

Original Array: [1, 2, 3, 4, 5]
Rotated Array: [3, 4, 5, 1, 2]

In [17]:
def is_monotonic(arr):
     increasing = decreasing = True
for i in range(1, len(arr)):
    if arr[i] > arr[i - 1]:
        decreasing = False
elif arr[i] < arr[i - 1]:
    increasing = False
return increasing or decreasing

arr1 = [1, 2, 2, 3] 
arr2 = [3, 2, 1] 
arr3 = [1, 3, 2, 4] 
print("arr1 is monotonic:", is_monotonic(arr1))
print("arr2 is monotonic:", is_monotonic(arr2))
print("arr3 is monotonic:", is_monotonic(arr3))

SyntaxError: invalid syntax (1969179649.py, line 6)

In [18]:
def is_monotonic(arr):
    increasing = decreasing = True
    
    for i in range(1, len(arr)):
        if arr[i] > arr[i - 1]:
            decreasing = False
        elif arr[i] < arr[i - 1]:
            increasing = False

    return increasing or decreasing

arr1 = [1, 2, 2, 3]
arr2 = [3, 2, 1]
arr3 = [1, 3, 2, 4]

print("arr1 is monotonic:", is_monotonic(arr1))
print("arr2 is monotonic:", is_monotonic(arr2))
print("arr3 is monotonic:", is_monotonic(arr3))

arr1 is monotonic: True
arr2 is monotonic: True
arr3 is monotonic: False

In [10]:
import math

def radian_to_degrees(radians):
    degrees = radians *(180/math.pi)
    return round(degrees,1)
print(radian_to_degrees(1 ))
print(radian_to_degrees(20 ))
print(radian_to_degrees(50 ))

57.3
1145.9
2864.8

In [9]:
print(radian_to_degrees(1))
print(radian_to_degrees(20))
print(radian_to_degrees(50))

57.3
1145.9
2864.8

# Caluclator

In [6]:

def add(x, y):
    return x + y


def subtract(x, y):
    return x - y


def multiply(x, y):
    return x * y


def divide(x, y):
    return x / y


print("Select operation.")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")


while True:
  
    choice = input("Enter choice (1/2/3/4): ")

   
    if choice in ('1', '2', '3', '4'):
        try:
           
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

       
        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))
        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))
        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))
        elif choice == '4':
            # Check for division by zero
            if num2 != 0:
                print(num1, "/", num2, "=", divide(num1, num2))
            else:
                print("Cannot divide by zero.")
    else:
        print("Invalid choice. Please enter a valid option (1/2/3/4).")

   
    next_calculation = input("Do you want to perform another calculation? (yes/no): ")
    if next_calculation.lower() != "yes":
        break

Select operation.
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 4
Enter first number: 5
Enter second number: 9
5.0 / 9.0 = 0.5555555555555556
Do you want to perform another calculation? (yes/no): yes
Enter choice (1/2/3/4): 3
Enter first number: 2
Enter second number: 1
2.0 * 1.0 = 2.0
Do you want to perform another calculation? (yes/no): no

# Fibonacii

In [8]:

def recur_fibo(n):
    if n <= 1:
        return n
    else:
        return recur_fibo(n-1) + recur_fibo(n-2)


nterms = int(input("Enter the number of terms (greater than 0): "))

if nterms <= 0:

    print("Please enter a positive integer")
else:
    print("Fibonacci sequence:")
    
    
    for i in range(nterms):
        print(recur_fibo(i))

Enter the number of terms (greater than 0): 9
Fibonacci sequence:
0
1
1
2
3
5
8
13
21

# Sorted_Alphabet

In [3]:
my_str = input("Enter a string: ")

words = [word.capitalize() for word in my_str.split()]

words.sort()

print("The sorted words are:")
for word in words:
    print(word)

Enter a string: SiNcHaNa
The sorted words are:
Sinchana

In [8]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''


my_str = input("Enter a string: ")

no_punct = ""
for char in my_str:
    if char not in punctuations:
        no_punct = no_punct + char
        print(no_punct)

Enter a string: chetu!!__
c
ch
che
chet
chetu

# Sum_array

In [1]:
arr = [1,2,3]
ans = sum(arr)
print('Sum of the array is ', ans)

Sum of the array is  6

In [3]:
def sum_of_array(arr):
    total = 0  
    for element in arr:
        total += element  
    return total


array = [10,56,4]
result = sum_of_array(array)
print("Sum of the array:", result)

Sum of the array: 70

# Largest_Element

In [5]:
def find_largest_element(arr):
if not arr:
return "Array is empty"

largest_element = arr[0]

for element in arr:
if element > largest_element:
largest_element = element
return largest_element

my_array = [10, 20, 30, 99]
result = find_largest_element(my_array)
print(f"The largest element in the array is: {result}")

IndentationError: expected an indented block after function definition on line 1 (710449538.py, line 2)