# Add

In [5]:
num1 = int(input("enter the number 1: "))
num2 = int(input("enter the  number 2: "))
sum_result = num1 + num2 
print(f"{num1}+{num2}= {sum_result}")

enter the number 1: 3
enter the  number 2: 4
3+4= 7

# division

In [1]:
num3 = int(input("enter the number 1: "))
num4 = int(input("enter the  number 2: ") )
if num3 == 0:
    print("ERROR ")
else:
    div_result = num3 / num4 
print(div_result)

enter the number 1: 8
enter the  number 2: 4
2.0

# AREA_OF_TRIANGLE

In [8]:
Base = int(input("enter the base: "))
Height = int(input("enter the height: "))
Area = 0.5 * Base * Height
print("the area of triangle is : ",Area)

enter the base: 10
enter the height: 10
the area of triangle is :  50.0

# swap_variables

In [16]:
a = int(input("enter the number a: "))
b = int(input("enter the number b: "))

temp = a
a = b
b = temp
print("swap number:",a , b)

enter the number a: 5
enter the number b: 8
swap number: 8 5

# Km to M

In [17]:
kilometer = float(input("enter the kilometer: "))
conversion_factor = 0.621371
miles = kilometer * conversion_factor
print("conversion of KM to M: ",miles)

enter the kilometer: 15
conversion of KM to M:  9.320565

# Celcius_to_Fhrenite

In [19]:
celcius =float(input("enter the celcius: "))
fahrenite = (celcius* 9/5)+32
print(fahrenite)

enter the celcius: 17
62.6

# Calender

In [23]:
import calendar
year = int(input("enter the year: "))
month = int(input("enter the month: "))
cal = calendar.month(year,month)
print(cal)

enter the year: 2005
enter the month: 10
    October 2005
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

# Prime_Number

In [31]:
num = int(input("Enter a number: "))

flag = False
if num == 1:
    print(f"{num} is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True 
            break

    if flag:
        print(f"{num} is not a prime number")
    else:
        print(f"{num} is a prime number")

Enter a number: 5
5 is a prime number

In [34]:
lower = 1
upper = 10
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 1 and 10 are:
2
3
5
7

# Table

In [36]:
num = int(input("Display multiplication table of: "))
for i in range(1, 11):
    print(f"{num} X {i} = {num*i}")

Display multiplication table of: 13
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [38]:

nterms = int(input("How many terms: "))


n1, n2 = 0, 1
count = 0


if nterms <= 0:
    print("Please enter a positive integer")

elif nterms == 1:
    print("Fibonacci sequence up to", nterms, ":")
    print(n1)

else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        
        n1 = n2
        n2 = nth
        count += 1

How many terms: 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

# Armstrong

In [41]:
num = int(input("Enter a number: "))

num_str = str(num)
num_digits = len(num_str)

sum_of_powers = 0
temp_num = num

while temp_num > 0:
    digit = temp_num % 10
    sum_of_powers += digit ** num_digits
    temp_num //= 10

if sum_of_powers == num:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 0
0 is an Armstrong number.

# sum_of_natural_number

In [4]:
num = int(input("enter the number: "))
sum = 0
for i in range (1,num):
    sum+= i
    print("the sum of natural number",num,"is: ",sum)

enter the number: 3
the sum of natural number 3 is:  1
the sum of natural number 3 is:  3

In [ ]:
#Binary_octa_Hexa