In [1]:
a=10

In [17]:
if a < 15 :
    pass

In [18]:
 a< 15

True

In [19]:
if a < 15 :
    print("my name is sinchu i love india")

my name is sinchu i love india

In [22]:
if 24 <15 :
       print("my name is darsh")

24 < 15

In [23]:
24 <15

False

In [26]:
if 10 < 13 :
    print("10 is less than 13")
else :
    print("if statment is wrong")

10 is less than 13

In [1]:
income = 1000
if income < 500 :
    print("u can buy ")
elif  income < 200 :
    print ("u can't buy")

In [2]:
income <300

False

In [3]:
if a < 15 :
    print("my name is sinchu i love india")

NameError: name 'a' is not defined

In [ ]:
study_hour = int(input())
if study_hour < 1 :
    print("it may take 8 month time")
elif study_hour <4 and study_hour >1 :
    print("it may take 6 month time")
elif study_hour > 10 :
    print("it will take 3 month of time")
else

In [1]:
l=[1,2,3,4,5,6,7]
for i in l :
    print(i)

1
2
3
4
5
6
7

In [5]:

for i in  "sinchu" :
    print(i)

s
i
n
c
h
u

In [7]:
t = (1,2,3,4,5,6,6)

In [8]:
for i in t :
    print(i)

1
2
3
4
5
6
6

In [9]:
l = [1,2,3,5.6, 4+7j , " sinchurokkad"]

In [10]:
for i in l :
    print(type (i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [11]:
l = [1,4,5.6]
l1 = []
for i in l :
    print(i+2)

3
6
7.6

In [12]:
l1

[]

In [13]:
l = [2,45,78, "sinchu" , {56 , 67 ,78}]

In [15]:
for i in l :
    if type (i) == int :
        print (i)
    elif type(i) == list :
        for j in i :
            if type(j) == int :
                print(j)

2
45
78