In [1]:
l = ["name" , "emailid" , "phoneno", "address"]
for i in l :
    print(i + "rokkad")

namerokkad
emailidrokkad
phonenorokkad
addressrokkad

In [2]:
s = "sinchu"
for i in s:
    print(i)

s
i
n
c
h
u

In [3]:
l

['name', 'emailid', 'phoneno', 'address']

In [4]:
for i in l :
    print(i)
else:
    print("if for loop is not going to complete itself ")

name
emailid
phoneno
address
if for loop is not going to complete itself

In [5]:
l

['name', 'emailid', 'phoneno', 'address']

In [6]:
for i in l:
    if i == "address" :
      break 
    print(i)
else :
    print("check the statement")

name
emailid
phoneno

In [7]:
a = 1 
while a < 5 :
    print(a)
    a = a + 1 
    if a == 3 :
        continue

1
2
3
4

In [8]:
range(6)

range(0, 6)

In [9]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [11]:
list(range(50 , 100))

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [12]:
list(range(1 , 10 , 2))

[1, 3, 5, 7, 9]

In [13]:
list(range(10 , 6 , -1))

[10, 9, 8, 7]

In [15]:
for i in range(7):
    print (i)

0
1
2
3
4
5
6

In [18]:
n = 5
for i in range(0 , n) :
    for j in range( 0 , i+1) :
        print("*" , end = " ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [14]:
for i in range(len(l) , 0 , -1):
    print(l[i])

NameError: name 'l' is not defined

In [15]:
d = {"a ": "srmsrm" , "b" :"srmsrm", "c" : [1,2,3,4,5] , "d": (4,5,6,7) , "e": " sinchu"}

In [17]:
d['d']

(4, 5, 6, 7)

In [16]:
for i in d :
    print(i)

a
b
c
d
e

In [19]:
 for i in d.items():
        print(i)

('a ', 'srmsrm')
('b', 'srmsrm')
('c', [1, 2, 3, 4, 5])
('d', (4, 5, 6, 7))
('e', ' sinchu')

In [21]:
s ={3,4,5,6,7,8,9,9,87,65,4,3,3}

In [22]:
s

{3, 4, 5, 6, 7, 8, 9, 65, 87}

In [23]:
for i in s :
    print(i)

65
3
4
5
6
7
8
9
87

In [24]:
a = 7
while i<7 :
    pass

In [27]:
for i in range(4):
    print("rokkad")
    if i == 2 :
        continue
        print(i)

rokkad
rokkad
rokkad
rokkad