In [2]:
len("sinchanarokkad")

14

In [3]:
print("amogh , sudeeksha,priya")

amogh , sudeeksha,priya

In [4]:
def test() :
    pass

In [5]:
def test1():
    print("this is my first coding")

In [6]:
test1()

this is my first coding

In [7]:
a = test()

In [8]:
"sinch" + "rokkad"

'sinchrokkad'

In [9]:
type(test1())

this is my first coding

NoneType

In [10]:
a = test1()

this is my first coding

In [11]:
str(a)

'None'

In [12]:
def test2() :
    return "this my life "

In [13]:
type(test2())

str

In [ ]:
test2() + "  ninu"

'this my life   ninu'

In [15]:
def test3() :
    return 234535

In [16]:
type(test3( ))

int

In [17]:
def test4( ) :
    return 4,3, "sinchu" , [1,2,3,4,5]

In [18]:
type(test4())

tuple

In [19]:
test4()

(4, 3, 'sinchu', [1, 2, 3, 4, 5])

In [20]:
b = test4()

In [21]:
b

(4, 3, 'sinchu', [1, 2, 3, 4, 5])

In [22]:
b[0]

4

In [23]:
b[1]

3

In [24]:
b[2]

'sinchu'

In [25]:
b[3]

[1, 2, 3, 4, 5]

In [26]:
test4( )

(4, 3, 'sinchu', [1, 2, 3, 4, 5])

In [27]:
a = 1
b = 5
c = "love"
d = [3456,5678,78800]

In [28]:
a , b,c,d = 34 , 45 ,"sinch" , "care"

In [29]:
x , y,u,v = test4()

In [30]:
x

4

In [31]:
y

3

In [32]:
u

'sinchu'

In [33]:
v

[1, 2, 3, 4, 5]

In [34]:
def test5 ( ):
    a = 6 * 7/6 
    return a

In [35]:
test5( )

7.0

In [36]:
def test6( ):
    a = 4 + 5
    return a

In [37]:
test6( )

9

In [38]:
def test7( ):
    a = 10-3+9
    return a

In [39]:
test7( )

16

In [40]:
len("darsh")

5

In [41]:
l = [3,4,5,6,7,"father", [1,3,5,7]]

In [42]:
def test6( a):
    n =[]
    if type(a) == list :
        for i in a:
            if type(i) == int :
                 n.append(i)
                
    return n

In [43]:
test6(l )

[3, 4, 5, 6, 7]

In [44]:
def test7(a):
    n =[]
    if type(a) == list :
        for i in a:
            if type(i) == int :
                 n.append(i)
            elif type(i) == list :
                for j in i :
                    if type(j) == int :
                        n.append(j)
                
    return n

In [44]:
test7(l)

[3, 4, 5, 6, 7, 1, 3, 5, 7]

In [45]:
def test9(a ):
    n = "sinch"
    if type(a) == list :
        for i in a :
            if type(i) == int :
                n.append(i)
                
    return n

In [46]:
test9( a)

'sinch'

In [47]:
def test8(c) :
    if type(a) == list :
        for i in l :
            if type(i) == int :
                n = print(i,end = "  ")
                
    return n

In [48]:
def test9(a ,b) :
    if type(a) == list and type(b) == list :
        return a.extend(b)
    else :
        return "either of your data is not a list"

In [49]:
test9(2424,"upside")

'either of your data is not a list'

In [50]:
test9([2,3,4,5,6] , [4,5,6])

In [51]:
n = test9([2,3,4,5,6] , [4,5,7,1])

In [52]:
n

In [53]:
a = [2,3,4,5,6]
b = [4,5,7,1]

In [54]:
test9(a , b)

In [55]:
a

[2, 3, 4, 5, 6, 4, 5, 7, 1]

In [56]:
n = 3
for i in range(0 , n):
    for j in range(0,i+1):
        print("*" , end ="  ")
    print("\n")

*

*  *

*  *  *

In [57]:

n = 10
for i in range(0 , n):
    for j in range(0,i+1):
        print("*" , end ="  ")
    print("\n")

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

*  *  *  *  *  *

*  *  *  *  *  *  *

*  *  *  *  *  *  *  *

*  *  *  *  *  *  *  *  *

*  *  *  *  *  *  *  *  *  *

In [58]:
def Create_Triangle(row_num):
    n = row_num
    k = n -1 
    
    for i in range(0 , n) :
        
        for j in range(0, k) :
            print(end="   ")
            
        k = k-1 
        
        for j in range(0, i+1):
            print(" * " , end=" ")
            
        print("   ")
        
Create_Triangle(10)

                            *
                         *   *
                      *   *   *
                   *   *   *   *
                *   *   *   *   *
             *   *   *   *   *   *
          *   *   *   *   *   *   *
       *   *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *

In [59]:
Create_Triangle(4)

          *
       *   *
    *   *   *
 *   *   *   *

In [60]:
help(test9)

Help on function test9 in module __main__:

test9(a, b)

In [61]:
#kdkjnj mashkjhfiu snmhk zxnuw

In [62]:
#dfg
dgb
fhg
vnm
tmmmnku

NameError: name 'dgb' is not defined

In [64]:
def ext(a, b):
    if type(a) == list and type(b) == list :
        a.extend(b)
        return a
    else :
        print("it not list")

In [65]:
ext([3,4,5,6] , [4,5,6,7])

[3, 4, 5, 6, 4, 5, 6, 7]

In [66]:
def test8() :
    a = input()
    b = []
    if type(a) == int :
        for i in a :
            b.append ( )
            
    return b

In [67]:
print("THANK YOU")

THANK YOU