In [1]:
l = [1 ,2 ,3 ,4, 5 , 6, 7, 8 ,9 ,10]

In [2]:
next(l)

TypeError: 'list' object is not an iterator

In [3]:
l = [1 ,2 ,3 ,4, 5 , 6, 7, 8 ,9 ,10]

In [4]:
l = iter(l)

In [5]:
next(l)

1

In [6]:
next(l)

2

In [7]:
next(l)

3

In [8]:
next(l)

4

In [9]:
next(l)

5

In [10]:
next(l)

6

In [11]:
next(l)

7

In [12]:
next(l)

8

In [13]:
next(l)

9

In [14]:
next(l)

10

In [15]:
a = 56

In [16]:
next(a)

TypeError: 'int' object is not an iterator

In [17]:
a = iter(a)

TypeError: 'int' object is not iterable

In [18]:
t = (9, 8 ,6 ,5, 4 ,3)

In [19]:
next(t)

TypeError: 'tuple' object is not an iterator

In [20]:
t = iter(t)

In [21]:
next(t)

9

In [22]:
next(t)

8

In [23]:
next(t)

6

In [24]:
next(t)

5

In [25]:
next(t)

4

In [26]:
r = range(5)

In [27]:
next(r)

TypeError: 'range' object is not an iterator

In [28]:
r = iter(r)

In [29]:
next(r)

0

In [30]:
list(range( 0 ,100 , 5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [31]:
def gencube(n):
    for i in range(n):
        return n**3

In [32]:
gencube(6)

216

In [33]:
def gencube(n):
    l = []
    for i in range(n):
        l.append(i**3)
    return l

In [34]:
gencube(6)

[0, 1, 8, 27, 64, 125]

In [35]:
range(1000000000)

range(0, 1000000000)

In [36]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
def gencube(n):
    
    for i in range(n):
        yield i**3

In [38]:
gencube(10)

In [39]:
for i in gencube(9):
    print(i)

0
1
8
27
64
125
216
343
512

In [40]:
def fib(n):
    a = 1 
    b = 1
    for i in range(n):
        yield a , i
        a , b = b , a+b

In [41]:
for i in fib(10):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)

In [42]:
def fibi(n):
    a = 1
    b = 1
    output = []
    for i in range(n) :
        output.append(a)
        a , b = b , a+b
    return output

In [43]:
fibi(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [44]:
print("somthing is special")

somthing is special

In [45]:
fibi(50)

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025]

In [54]:
f = open("test1.txt" , "w")

In [55]:
dir

In [56]:
pwd()

'E:\\04_Python\\02_Advance'

In [57]:
%ls

 Volume in drive E is New Volume
 Volume Serial Number is 3C92-9CF3

 Directory of E:\04_Python\02_Advance

15-10-2023  21:24    <DIR>          .
15-10-2023  10:44    <DIR>          ..
15-10-2023  10:47    <DIR>          .ipynb_checkpoints
15-10-2023  21:10            19,092 001_Iterator_Generator_And_File_System.ipynb
15-10-2023  21:24                58 test.txt
15-10-2023  21:24                 0 test1.txt
               3 File(s)         19,150 bytes
               3 Dir(s)  207,825,682,432 bytes free

In [58]:
f = open('test1.txt' , "w")

In [54]:
f.write(" i love new horizon cllg , i lv my cllg ,this is my first file operation to somthing in my test2.txt")

100

In [55]:
f.close()

In [57]:
f = open('test1.txt')

In [58]:
f.read( )

'my name sinchu studing in first year csds in new horizon collegethis is my first file operation to somthing in my test2.txtmy name sinchu studing in first year csds in new horizon collegethis is my first file operation to somthing in my test2.txtthis is my first file operation to somthing in my test2.txt i love new horizon cllg , i lv my cllg ,this is my first file operation to somthing in my test2.txt'

In [59]:
f.seek(5)

5

In [61]:
f.read()

'me sinchu studing in first year csds in new horizon collegethis is my first file operation to somthing in my test2.txtmy name sinchu studing in first year csds in new horizon collegethis is my first file operation to somthing in my test2.txtthis is my first file operation to somthing in my test2.txt i love new horizon cllg , i lv my cllg ,this is my first file operation to somthing in my test2.txt'

In [64]:
f.read()

'my name sinchu studing in first year csds in new horizon collegethis is my first file operation to somthing in my test2.txtmy name sinchu studing in first year csds in new horizon collegethis is my first file operation to somthing in my test2.txtthis is my first file operation to somthing in my test2.txt i love new horizon cllg , i lv my cllg ,this is my first file operation to somthing in my test2.txt'

In [63]:
f.seek(0)

0

In [65]:
f.tell()

405

In [66]:
f.seek(5)

5

In [74]:
f.close()

In [75]:
f = open ("test1.txt" , "r+")

In [76]:
f.readline()

'my name sinchu studing in first year csds in new horizon collegethis is my first file operation to somthing in my test2.txtmy name sinchu studing in first year csds in new horizon collegethis is my first file operation to somthing in my test2.txtthis is my first file operation to somthing in my test2.txt i love new horizon cllg , i lv my cllg ,this is my first file operation to somthing in my test2.txt'

In [77]:
f.readline()

''

In [78]:
f = open('google.txt', "w")

In [81]:
f.write("A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations (computation) automatically. Modern digital electronic computers can perform generic sets of operations known as programs. These programs enable computers to perform a wide range of tasks. A computer system is a nominally complete computer that includes the hardware, operating system (main software), and peripheral equipment needed and used for full operation. This term may also refer to a group of computers that are linked and function together, such as a computer network or computer cluster")

603

In [82]:
f.close()

In [83]:
f = open("google.txt" , "r+")

In [84]:
f.read()

'A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations (computation) automatically. Modern digital electronic computers can perform generic sets of operations known as programs. These programs enable computers to perform a wide range of tasks. A computer system is a nominally complete computer that includes the hardware, operating system (main software), and peripheral equipment needed and used for full operation. This term may also refer to a group of computers that are linked and function together, such as a computer network or computer cluster'

In [85]:
f.seek(0)

0

In [86]:
f.readline()

'A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations (computation) automatically. Modern digital electronic computers can perform generic sets of operations known as programs. These programs enable computers to perform a wide range of tasks. A computer system is a nominally complete computer that includes the hardware, operating system (main software), and peripheral equipment needed and used for full operation. This term may also refer to a group of computers that are linked and function together, such as a computer network or computer cluster'

In [87]:
f.readline()

''

In [88]:
f.close()

In [90]:
f = open("google.txt" , "r+")

In [91]:
len(f.readlines())

1

In [92]:
l = f.readlines()

In [97]:
l

[]

In [98]:
%ls

 Volume in drive E is New Volume
 Volume Serial Number is 3C92-9CF3

 Directory of E:\04_Python\02_Advance

15-10-2023  22:11    <DIR>          .
15-10-2023  10:44    <DIR>          ..
15-10-2023  10:47    <DIR>          .ipynb_checkpoints
15-10-2023  22:11            29,402 001_Iterator_Generator_And_File_System.ipynb
15-10-2023  22:02               603 google.txt
15-10-2023  21:44               405 test1.txt
               3 File(s)         30,410 bytes
               3 Dir(s)  207,825,666,048 bytes free

In [99]:
f = open('google.txt' , "r+")
f.name

'google.txt'